.center { 
    height: 200px;
    position: relative;
}

.center button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon {
    margin-right: .5rem;
}

.selectable-list-item {
    cursor: pointer;
}

.selectable-list-item:active, .selectable-list-item:focus {
    background-color: #E9ECEF;
}

#hide input[type=file] {
display:none;
margin:10px;
}
#hide input[type=file] + label {
display:inline-block;
margin:20px;
padding: 4px 32px;
background-color: #FFFFFF;
border:solid 1px #666F77;
border-radius: 6px;
color:#666F77;
}
#hide input[type=file]:active + label {
background-image: none;
background-color:#2D6C7A;
color:#FFFFFF;
}