<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-right">
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="page-header text-center">
        <h1 class="display-1">Edit Tour</h1>
    </div>

    <div class="row">
    </div>

</div>
</body>
</html>
