<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-right">
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="page-header text-center">
        <h1 class="display-1">Get Started</h1>
        <p1 class="display-1">Create a new tour to get started</p1></p1>
    </div>
    <div id="buttons" style="text-align:center; padding-bottom:20px">
        <a href="/create" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Create a New Tour</a>
    </div>

</div>
</body>
</html>
