<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-right">
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="page-header text-center">
        <h1 class="display-1">My Tours</h1>
    </div>

    <div class="row">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Tour Name</h5>
                    <small>Last edited 3 days ago</small>
                </div>
                <p class="mb-1">300 visits.</p>
                <small>0 Reports.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Tour Name</h5>
                    <small>Last edited 3 days ago</small>
                </div>
                <p class="mb-1">300 visits.</p>
                <small>0 Reports.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Tour Name</h5>
                    <small>Last edited 3 days ago</small>
                </div>
                <p class="mb-1">300 visits.</p>
                <small>0 Reports.</small>
            </a>
        </div>
    </div>

</div>
</body>
</html>
